.full-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  min-height: 250px;
}

.cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;
}

.bg-gradient-logo {
  background: linear-gradient(
    135deg,
    map-get($theme-colors, "primary"),
    map-get($theme-colors, "extra"),
    map-get($theme-colors, "info")
  );
}
