@import "../../../node_modules/bootstrap/scss/type";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

.font-ds {
  font-family: $font-ds-regular;
}

.font-ds-lighter {
  @extend .font-ds;
  font-weight: lighter;
}

.font-ds-bold {
  @extend .font-ds;
  font-weight: bold;
}

.font-ds-bolder {
  @extend .font-ds;
  font-weight: bolder;
}

hr {
  margin-left: $hr-margin-x;
  margin-right: $hr-margin-x;
}
