@import "../../../node_modules/bootstrap/scss/utilities";

$extra-utilities: (
  "width-vw": (
    property: width,
    class: vw,
    values: (
      25: 25vw,
      33: 33vw,
      50: 50vw,
      66: 66vw,
      75: 75vw,
      99: 99vw,
      100: 100vw,
    ),
  ),
);

$utilities: map-merge(
  $map1: $utilities,
  $map2: $extra-utilities,
);
