// Color system
$color-primary-0: #ee7a55; // Main Primary color */
$color-primary-1: #ffbea9;
$color-primary-2: #ff9d7e;
$color-primary-3: #d75830;
$color-primary-4: #ac3a16;

$color-secondary-1-0: #eea955; // Main Secondary color (1) */
$color-secondary-1-1: #ffd8a9;
$color-secondary-1-2: #ffc57e;
$color-secondary-1-3: #d78c30;
$color-secondary-1-4: #ac6916;

$color-secondary-2-0: #3c7598; // Main Secondary color (2) */
$color-secondary-2-1: #8fb9d2;
$color-secondary-2-2: #5c92b1;
$color-secondary-2-3: #246489;
$color-secondary-2-4: #134c6e;

$color-complement-0: #3ca770; // Main Complement color */
$color-complement-1: #90dab5;
$color-complement-2: #5ebf8e;
$color-complement-3: #21975b;
$color-complement-4: #0f7943;

$primary: $color-primary-0;
$secondary: $color-secondary-1-0;
$success: $color-complement-0;
$info: $color-secondary-2-1;
$extra: $color-complement-1;

$extra-colors: (
  "extra": $extra,
);

// Options
// https://getbootstrap.com/docs/5.1/customize/options/
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-cssgrid: true;
$enable-rfs: true;
$enable-smooth-scroll: true;

// Body
$body-bg: #dedba7;

// Types
// Custom font
$font-ds-regular: "Dancing Script", cursive;

// Buttons + Forms
// Background for inputs (Forms)
$input-btn-padding-x: 1rem;
$input-btn-border-width: 2px;

$input-bg: transparent;
$input-focus-box-shadow: none;
$input-border-radius: none;
$input-border-radius-lg: none;
$input-border-radius-sm: none;
$input-border-color: $secondary;
$input-focus-border-color: $extra;

$custom-control-indicator-checked-border-color: $color-primary-1;
$custom-file-border-color: $color-secondary-1-3;

$custom-range-track-bg: $color-primary-1;
$custom-range-thumb-active-bg: $extra;

$custom-file-text: (
  en: "Browse",
  es: "Elegir",
);

// Accordion
$accordion-border-color: $secondary;

// Utilities
$overflows: auto, hidden, scroll;

// Variables
// NOTE: This work-around is needed in order to keep merge colors
// NOTE: This will be fixed by Bootstrap v5.2.x
// SEE: https://stackoverflow.com/questions/68755179/bootstrap-5-custom-theme-colors-not-updating-classes
@import "~bootstrap/scss/variables";
$theme-colors: map-merge($theme-colors, $extra-colors);

// Typography
$hr-margin-x: $spacer;

// Buttons + Forms
$custom-control-indicator-bg: $white;

@import "~bootstrap/scss/maps";
